HELP.md
.gradle
.env.local
.env.dev
.env.prod
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### queryDSL
src/main/generated/

# 로그 파일들
logs/
*.log
*.log.*
*.gz

# 임시 로그 파일들
*.tmp
*.temp

# 백업 로그 파일들
*.bak

# redis
/redis

# 로컬 도커 설정
docker-compose.yml
